// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.project-container{
  margin-left: 23px;
}

.header{
  margin-top: 92px;
   margin-bottom: 55px;
}

.header h1{
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 1.5px;
}


.project{
  margin-bottom: 47px;
}



.project-text{
  font-weight: 300;
}

.project-text a{
  color: black;
  font-size: 38px;
  letter-spacing: 1.5px;
}



.project-text p{
  margin-top: 13px;
  font-size: 14px;
  color: #A3A3A3;
  font-weight: 300;
  margin-left: 0px;
}















































.project-img img{
  width: 375px;
}



.work-togethers{
  background: #121212;
  padding: 90px 0px;
  height: 900px;
}

.content{
  padding-left: 25px;
  padding-top: 4px;
  width: 300px;

}

#header{
  padding-top: 75px;
  color: white;
  font-size: 38px;
  line-height: 58px;
  font-weight: 300;
  letter-spacing: 1px;
  
}

.email{
  padding-top: 50px;
}

.email h2{
  font-size: 15px;
  color: white; 
  font-weight: 300;
}

.email a{
  font-size: 17px;
  color: white; 
  font-weight: 300;
}


.social-media{
  margin-top: 35px;
  width: 350px;
  height: 40px;
}

.social-media h2{
  font-size: 15.5px;
  color: gray; 
  line-height: 10px;
  font-weight: 300;
}

.social-media p{
  font-size: 15.5px;
  line-height: 10px;
  color: gray; 
  font-weight: 300;
}

.social-media a{
  font-size: 15.5px;
  line-height: 10px;
  color: gray; 
  font-weight: 300;
}





