

<div class = "project-img">
    <img src = "https://bien.studio/wp-content/uploads/2020/09/altima-0.jpg">
</div>




<a href = "/works">
<div class="circle">x</div></a>

<div class = "info">
    <div class = "sections">
        <h1>Client</h1>
        <h2>Altima</h2>
    </div>
    <div class = "sections">
        <h1>Type</h1>
        <h2>Digital product</h2>
    </div>
    <div class = "sections">
        <h1>Deliverables</h1>
        <h2>UI, UX</h2>
    </div>
    <div class = "sections">
        <h1>Year</h1>
        <h2>2019-2020</h2>
    </div>
</div>


<div class = "description">
    <h1>Description</h1>
    <h2>Altima is an IoT — city management platform that is used to manage assets like lighting, parking and other communal resources.</h2>
</div>
<br><br><br><br>
<div class = "description-dark">
    <br><br>
    <h2>Altima is an IoT — city management platform that is used to manage assets like lighting, parking and other communal resources.</h2>
</div>
    <br><br>    <br><br>
<img id = "img3" src = "https://bien.studio/wp-content/uploads/2020/09/02_Altima_halfsize_2x.png">
<img id = "img4" src = "https://bien.studio/wp-content/uploads/2020/09/03_Altima_halfsize_2x.png">
<br><br>  <br><br>  
<img id = "img2" src = "https://bien.studio/wp-content/uploads/2020/09/04_Altima_fullsize_2x.png">
<img id = "img2" src = "https://bien.studio/wp-content/uploads/2020/09/05_Altima_fullsize_2x.png">


<div class = "description-dark2">
    <br><br>
    <h2>We also worked on the parking dashboard module as well as a citizen facing app for parking availability and payment. The dashboard consisted of capacity, sensor and maintenance management features.</h2>
</div>
    <br><br>    <br><br>

<img id = "img2" src = "https://bien.studio/wp-content/uploads/2020/09/08_Altima_fullsize_2x.png">
<img id = "img2" src = "https://bien.studio/wp-content/uploads/2020/09/altima-03-1920x1200.jpg">
<img id = "img2" src = "https://bien.studio/wp-content/uploads/2020/09/09_Altima_fullsize_2x.png">



<div class = "description4">
    <h1>Other projects</h1>
</div>



<div class = "project-container">
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                TalentLyft
                <p>2018-</p>
            </a>
        </div>
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                UPBORE
                <p>2019-2020</p>
            </a>
        </div>
    </div>
</div>

<div class = "description5">
    <a href = "#">See all projects</a>
</div>


<br><br><br><br>




<div class = "work-togethers">
    <div class = "content">
        <h1 id = "header" >Let's work together</h1>
        <div class = "email">
            <h2>Business inquiries / Contact</h2>
            <a target = "_blank" href = "mailto: hello@bien.studio">hello@bien.studio</a>
        </div>
        <div class = "social-media">
            <h2>Follow us on</h2>
            <a target = "_blank" href = "https://www.instagram.com/studiobien/">Instagram 
            </a>
        </div>
        <div class = "social-media">
            <h2>Keep up with stuff on</h2>
            <a target = "_blank" href = "https://m.facebook.com/Bien.design.studio/">Facebook 
            </a>
        </div>
        <div class = "social-media">
            <h2>Check out our work on</h2>
            <a target = "_blank" href = "https://dribbble.com/bien">Dribbble
            </a>
        </div>
        <div class = "social-media">
            <h2>Office address</h2>
            <a target = "_blank" href = "https://www.google.com/maps/place/Bien/@45.8043327,15.9905167,16z/data=!4m5!3m4!1s0x4765d79ba4b63ebd:0xe18abf733af11b5f!8m2!3d45.8081754!4d15.9847865?shorturl=1">Kneza Mislava 4, Zagreb, Croatia
            </a>
            </div>
    </div>
</div>











<style>
 .project-img img{
    width: 375px;
  }

.circle {
    margin-top: -290px;
    margin-left: 20px;
    position: absolute;
    background-color: #909090;
    border-radius: 18px;
    text-align: center;
    font-size: 22px;
    color: 	#585858;
    box-shadow: 0 0 4px #888;
    height: 35px;
    width: 35px;
}


.info{
    margin-top: 50px;
    margin-left: 25px;
}


.sections{
    padding-bottom: 15px;
}
.sections h1{
    font-size: 15px;
    color: #D0D0D0;
    font-weight: 400;
}

.sections h2{
    font-size: 15px;
    color: black;
    font-weight: 400;
}




.description{
    margin-top: 200px;
    margin-left: 25px;
    height: 200px;
}
.description h1{
    font-size: 16px;
    color: #D0D0D0;
    font-weight: 400;
    margin-bottom: 40px;
}

.description h2{
    font-size: 16px;
    line-height: 30px;
    color: black;
    font-weight: 400;
}

.description-dark{
    background-color: #121212;
    height: 200px;
}
.description-dark h2{
    font-size: 16px;
    color: white;
    text-align: center;
    margin-left: 25px;
    line-height: 30px;
    font-weight: 400;
}


.description-dark2{
    background-color: #121212;
    height: 270px;
}
.description-dark2 h2{
    font-size: 16px;
    color: white;
    text-align: center;
    margin-left: 25px;
    line-height: 30px;
    font-weight: 400;
}


#img1{
    width: 380px;
    margin-bottom: 80px;
}

#img2{
    width: 380px;
    margin-bottom: 80px;
}

#img3{
    width: 180px;
}

#img4{
    width: 180px;
    position: absolute;
    right: -5px;
    margin-bottom: 80px;
}



.description2{
    margin-top: 100px;
    margin-left: 25px;
    height: 170px;
    margin-right: 25px;
}

.description2 h2{
    font-size: 16px;
    line-height: 30px;
    color: black;
    font-weight: 400;
}

#img5{
    width: 380px;
    margin-bottom: 80px;
}

#img6{
    width: 380px;
    margin-bottom: 80px;
}


.description3{
    margin-left: 25px;
    height: 150px;
    margin-right: 25px;
}

.description3 h2{
    font-size: 16px;
    line-height: 30px;
    color: black;
    font-weight: 400;
}

#img7{
    width: 380px;
    margin-bottom: 80px;
}

#img8{
    width: 380px;
    margin-bottom: 50px;
}

#img9{
    width: 380px;
    margin-bottom: 80px;
}


.description4{
    margin-left: 25px;
    height: 60px;
}
.description4 h1{
    font-size: 16px;
    color: gray;
    font-weight: 300;
}






.project-container{
  margin-left: 23px;
}

.header{
  margin-top: 92px;
   margin-bottom: 55px;
}

.header h1{
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 1.5px;
}


.project{
  margin-bottom: 47px;
}



.project-text{
  font-weight: 300;
}

.project-text a{
  color: black;
  font-size: 38px;
  letter-spacing: 0.5px;
}



.project-text p{
  margin-top: 13px;
  font-size: 14px;
  color: #A3A3A3;
  font-weight: 300;
  margin-left: 0px;
}







.description5{
    position: absolute;
    right: 0px;
    margin-right: 25px;
    height: 200px;
}
.description5 a{
    font-size: 16px;
    color: gray;
    font-weight: 300;
}







.work-togethers{
  background: #121212;
  padding: 90px 0px;
  height: 900px;
}

.content{
  padding-left: 25px;
  padding-top: 4px;
  width: 300px;

}

#header{
  padding-top: 75px;
  color: white;
  font-size: 38px;
  line-height: 58px;
  font-weight: 300;
  letter-spacing: 1px;
  
}

.email{
  padding-top: 50px;
}

.email h2{
  font-size: 15px;
  color: white; 
  font-weight: 300;
}

.email a{
  font-size: 17px;
  color: white; 
  font-weight: 300;
}


.social-media{
  margin-top: 35px;
  width: 350px;
  height: 40px;
}

.social-media h2{
  font-size: 15.5px;
  color: gray; 
  line-height: 10px;
  font-weight: 300;
}

.social-media p{
  font-size: 15.5px;
  line-height: 10px;
  color: gray; 
  font-weight: 300;
}

.social-media a{
  font-size: 15.5px;
  line-height: 10px;
  color: gray; 
  font-weight: 300;
}







</style>