<img id = "top-pic" src = "https://bien.studio/wp-content/uploads/2020/11/annual-retreat.jpg">


<div class = "text">
    <h3>Location</h3>
    <h4>Baške Oštarije, Croatia</h4>
    
    <h3>Year</h3>
    <h4>2020</h4>
    
    <div class = "text-note">
        <h3>Note</h3>
        <h4>We spent two days cooking, hiking and hanging out at our company retreat in the beautiful and peaceful little village of Baške Oštarije, Croatia.</h4>
    </div>
   
</div>



<div class = "work-together">
    <div class = "content">
        <h1 id = "header" >Let's work together</h1>
        <div class = "email">
            <h2>Business inquiries / Contact</h2>
            <a target = "_blank" href = "mailto: hello@bien.studio">hello@bien.studio</a>
        </div>
        <div class = "social-media">
            <h2>Follow us on</h2>
            <a target = "_blank" href = "https://www.instagram.com/studiobien/">Instagram 
            </a>
        </div>
        <div class = "social-media">
            <h2>Keep up with stuff on</h2>
            <a target = "_blank" href = "https://m.facebook.com/Bien.design.studio/">Facebook 
            </a>
        </div>
        <div class = "social-media">
            <p>Check out our work on</p>
            <a target = "_blank" href = "https://dribbble.com/bien"><p>Dribbble</p></a>
        </div>
        <div class = "social-media">
            <p>Office address</p>
            <a target = "_blank" href = "https://www.google.com/maps/place/Bien/@45.8043327,15.9905167,16z/data=!4m5!3m4!1s0x4765d79ba4b63ebd:0xe18abf733af11b5f!8m2!3d45.8081754!4d15.9847865?shorturl=1"><p>Kneza Mislava 4, Zagreb, Croatia</p></a>
            </div>
    </div>
</div>


<style>
    #top-pic{
    width: 375px; /* width of container */
    overflow: hidden;
    }
    
    .text{
        margin-left: 15px;
        margin-top: 30px;
    }
    
    h3{
        color: gray;
        font-size: 14px;
        letter-spacing: .5px;
        font-weight: 300;
    }

    h4 {
        font-size: 14px;
        letter-spacing: .5px;
        font-weight: 400;
    }

    .text-note{
        margin-top: 80px;
    }

    .text-note h3{
        color: gray;
        font-size: 16px;
        letter-spacing: .5px;
        font-weight: 300;
    }

 .text-note h4{
        font-size: 16px;
        letter-spacing: .5px;
        line-height: 35px;
        font-weight: 400;
    }



    
    .work-together{
      background: #121212;
      padding: 90px 0px;
      height: 750px;
    }
    
    .content{
      padding-left: 25px;
      padding-top: 4px;
      width: 300px;
    
    }
    
    #header{
      color: white;
      font-size: 38px;
      line-height: 58px;
      font-weight: 300;
      letter-spacing: 1px;
      
    }
    
    .email{
      padding-top: 50px;
    }
    
    .email h2{
      font-size: 15px;
      color: white; 
      font-weight: 300;
    }
    
    .email a{
      font-size: 17px;
      color: white; 
      font-weight: 300;
    }
    
    
    .social-media{
      margin-top: 35px;
      width: 350px;
      height: 40px;
    }
    
    .social-media h2{
      font-size: 15.5px;
      color: gray; 
      line-height: 10px;
      font-weight: 300;
    }
    
    .social-media p{
      font-size: 15.5px;
      line-height: 10px;
      color: gray; 
      font-weight: 300;
    }
    
    .social-media a{
      font-size: 15.5px;
      line-height: 10px;
      color: gray; 
      font-weight: 300;
    }





    @media only screen and (min-width: 768px) {
    }
    
    
    @media only screen and (min-width: 1000px) {
    }



</style>